<a href="https://colab.research.google.com/github/ms2288/ds-section2-sprint1/blob/main/n213-ridge-regression/n213a-ridge-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 3*

# üìù Assignment
---

# Ridge Regression

Ïù¥Î≤à Î™®ÎìàÏóêÏÑú Î∞∞Ïö¥ ÎÇ¥Ïö©ÏùÑ Ï°∞Í∏à Îã§Î•∏ Îç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ Î≥µÏäµÌï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú Ï†ïÎ≥¥Îäî Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞Ìï¥ Ï£ºÏÑ∏Ïöî.

- [Melbourne Housing Market]('https://www.kaggle.com/anthonypino/melbourne-housing-market')

Ïù¥Î≤àÏóêÎèÑ Price Î≥ÄÏàòÎ•º targetÏúºÎ°ú Ï†ïÌïòÍ≥† Î™®Îç∏ÏùÑ Íµ¨ÏÑ±Ìï¥ Î¥ÖÏãúÎã§.

In [9]:
pip install category-encoders

Collecting category-encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 80 kB 3.6 MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category-encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category-encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category-encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category-encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [30]:
import pandas as pd
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split

# get data
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/melbourne_house_prices/MELBOURNE_HOUSE_PRICES_LESS.csv')

# drop high cardinality cols
df.drop(columns=['Suburb','Address','SellerG','Date'], inplace=True)

# drop na values in Price
df.dropna(subset=['Price'], inplace=True)

# drop duplicated rows
df.drop_duplicates(inplace=True)

In [31]:
df

       Rooms Type  ...  Distance                 CouncilArea
0          3    h  ...       3.0          Yarra City Council
1          3    h  ...       3.0          Yarra City Council
2          3    h  ...       3.0          Yarra City Council
3          3    h  ...       7.5  Moonee Valley City Council
4          2    h  ...      10.4  Moonee Valley City Council
...      ...  ...  ...       ...                         ...
63015      2    u  ...      38.0      Frankston City Council
63016      2    u  ...      38.0      Frankston City Council
63017      3    h  ...       8.4        Darebin City Council
63018      3    h  ...      20.6           Hume City Council
63020      3    h  ...      20.6           Hume City Council

[42515 rows x 9 columns]

### 1) Îç∞Ïù¥ÌÑ∞Ïùò ÌäπÏÑ±ÏùÑ ÌååÏïÖÌïòÍ∏∞ ÏúÑÌï¥ pandas_profilingÏùÑ ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **Î≤îÏ£ºÌòï ÌäπÏÑ±ÏúºÎ°ú ÏõêÌï´Ïù∏ÏΩîÎî©ÏùÑ Ìï† Ïàò ÏûàÎäî ÌäπÏÑ±Ïùò Ï†ÑÏ≤¥ Í∞úÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [32]:
## import OneHotEncoder
from category_encoders import OneHotEncoder

## ÏõêÌï´ Ïù∏ÏΩîÎî©
encoder = OneHotEncoder(use_cat_names = True)
df = encoder.fit_transform(df)
df

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

       Rooms  ...  CouncilArea_Murrindindi Shire Council
0          3  ...                                      0
1          3  ...                                      0
2          3  ...                                      0
3          3  ...                                      0
4          2  ...                                      0
...      ...  ...                                    ...
63015      2  ...                                      0
63016      2  ...                                      0
63017      3  ...                                      0
63018      3  ...                                      0
63020      3  ...                                      0

[42515 rows x 55 columns]

In [33]:
target='Price'
X = df.drop([target],axis=1)
y = df[target]

### 2) Î≤îÏ£ºÌòï Î≥ÄÏàòÎì§Ïóê ÎåÄÌï¥ one-hot encoding(category_encoders)ÏùÑ ÏàòÌñâÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Î•º train/test ÏÖãÏúºÎ°ú Î¨¥ÏûëÏúÑÎ°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.(train/test = 80%/20%)
- [category_encoders.one_hot.OneHotEncoder](https://contrib.scikit-learn.org/category_encoders/onehot.html#one-hot), ÌååÎùºÎØ∏ÌÑ∞Îäî use_cat_names = True ÏÇ¨Ïö©
- Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨Îäî [sklearn.model_selection.train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html?highlight=train%20test%20split#sklearn-model-selection-train-test-split) ÏùÑ ÏÇ¨Ïö©Ìï¥ Ï£ºÏÑ∏Ïöî. ÏÇ¨Ïö©Ìï¥Ïïº ÌïòÎäî ÌååÎùºÎØ∏ÌÑ∞Îäî test_size, train_size, random_state=2 ÏûÖÎãàÎã§. ÎÇòÎ®∏ÏßÄÎäî default ÏÇ¨Ïö©Ìï©ÎãàÎã§.
- **Î∂ÑÎ¶¨Îêú ÌïôÏäµÎç∞Ïù¥ÌÑ∞Ïùò Ï≤´Î≤àÏß∏ ÏÉòÌîåÏùò Ïù∏Îç±Ïä§ Í∞íÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,train_size=0.8,random_state=2)

In [35]:
X_train

       Rooms  ...  CouncilArea_Murrindindi Shire Council
602        4  ...                                      0
40851      5  ...                                      0
57233      4  ...                                      0
8816       4  ...                                      0
3481       3  ...                                      0
...      ...  ...                                    ...
44542      3  ...                                      0
43399      2  ...                                      0
8789       6  ...                                      0
51700      3  ...                                      0
33935      3  ...                                      0

[34012 rows x 54 columns]

### 3) SelectKBestÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 20Í∞úÏùò ÌäπÏÑ±Îßå selection ÌïòÏÑ∏Ïöî
- score_func ÏóêÎäî f_regressionÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§
- **Í∞ÄÏû• Ïä§ÏΩîÏñ¥(Attributes: scores_ ÏÇ¨Ïö©)Í∞Ä ÎÜíÍ≤å ÎÇòÏò® ÌäπÏÑ±Ïùò Ïù¥Î¶ÑÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [38]:
# target(Price)ÏôÄ Í∞ÄÏû• correlated Îêú features Î•º kÍ∞ú Í≥†Î•¥Îäî Í≤ÉÏù¥ Î™©ÌëúÏûÖÎãàÎã§.

## f_regresison, SelectKBest
from sklearn.feature_selection import f_regression, SelectKBest

## selctor Ï†ïÏùòÌï©ÎãàÎã§.
selector = SelectKBest(score_func=f_regression, k=20)

## ÌïôÏäµÎç∞Ïù¥ÌÑ∞Ïóê fit_transform 
X_train_selected = selector.fit_transform(X_train, y_train)

## ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Îäî transform
X_test_selected = selector.transform(X_test)


all_names = X_train.columns
all_names
# X_train_selected.shape, X_test_selected.shape

Index(['Rooms', 'Type_h', 'Type_t', 'Type_u', 'Method_S', 'Method_SP',
       'Method_VB', 'Method_PI', 'Method_SA', 'Postcode',
       'Regionname_Northern Metropolitan', 'Regionname_Western Metropolitan',
       'Regionname_Southern Metropolitan',
       'Regionname_South-Eastern Metropolitan',
       'Regionname_Eastern Metropolitan', 'Regionname_Northern Victoria',
       'Regionname_Eastern Victoria', 'Regionname_Western Victoria',
       'Propertycount', 'Distance', 'CouncilArea_Yarra City Council',
       'CouncilArea_Moonee Valley City Council',
       'CouncilArea_Port Phillip City Council',
       'CouncilArea_Brimbank City Council', 'CouncilArea_Darebin City Council',
       'CouncilArea_Hobsons Bay City Council',
       'CouncilArea_Stonnington City Council',
       'CouncilArea_Boroondara City Council',
       'CouncilArea_Monash City Council', 'CouncilArea_Kingston City Council',
       'CouncilArea_Maroondah City Council',
       'CouncilArea_Bayside City Council', 'CouncilArea_Banyule City Council',
       'CouncilArea_Glen Eira City Council',
       'CouncilArea_Whitehorse City Council',
       'CouncilArea_Maribyrnong City Council', 'CouncilArea_Hume City Council',
       'CouncilArea_Moreland City Council',
       'CouncilArea_Manningham City Council',
       'CouncilArea_Melbourne City Council', 'CouncilArea_Melton City Council',
       'CouncilArea_Frankston City Council', 'CouncilArea_Casey City Council',
       'CouncilArea_Greater Dandenong City Council',
       'CouncilArea_Nillumbik Shire Council',
       'CouncilArea_Whittlesea City Council', 'CouncilArea_Knox City Council',
       'CouncilArea_Wyndham City Council',
       'CouncilArea_Yarra Ranges Shire Council',
       'CouncilArea_Cardinia Shire Council',
       'CouncilArea_Macedon Ranges Shire Council',
       'CouncilArea_Mitchell Shire Council',
       'CouncilArea_Moorabool Shire Council',
       'CouncilArea_Murrindindi Shire Council'],
      dtype='object')

### 4) RidgeCVÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌöåÍ∑ÄÎ™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- attributeÎäî normalize=True, cv=5Î•º ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. ÎÇòÎ®∏ÏßÄÎäî default
- **alphas = [0, 0.001, 0.01, 0.1, 1] ÏùÑ ÏãúÎèÑÌï¥Î≥¥Í≥† Í∞ÄÏû• Ï¢ãÏùÄ Ï†êÏàòÍ∞Ä ÎÇòÏò® alpha Í∞íÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
# ÏΩîÎû©ÏóêÏÑú ÏïÑÎûòÏôÄ Í∞ôÏùÄ ÏóêÎü¨ Î∞úÏÉùÏãú, sklearn Ïû¨ÏÑ§Ïπò ÏßÑÌñâÌï©ÎãàÎã§.
# ÏóêÎü¨Î©îÏãúÏßÄ: 'RidgeCV' object has no attribute 'best_score_' (ver.0.23Î∂ÄÌÑ∞ Ï†ÅÏö©Îê®. Í≥µÏãùÎ¨∏ÏÑúÏóêÏÑú ÌôïÏù∏ Í∞ÄÎä•.)
# Ìï¥Í≤∞: sklearn Ïû¨ÏÑ§Ïπò ÌïÑÏöî. Î≤ÑÏ†Ñ 0.23 Ïù¥ÏÉÅ
# Ïû¨ÏÑ§Ïπò Î∞©Î≤ï‚á£: 

# sklearn Î≤ÑÏ†Ñ ÌôïÏù∏ -> 0.23Î≥¥Îã§ ÎÇÆÎã§Î©¥ Ïû¨ÏÑ§Ïπò ÏßÑÌñâ.
import sklearn
sklearn.__version__

# sklearn Ïû¨ÏÑ§Ïπò
!pip uninstall scikit-learn -y
!pip install -U scikit-learn

# sklearn Î≤ÑÏ†Ñ Ïû¨ÌôïÏù∏ -> 0.23 Ïù¥ÏÉÅÏúºÎ°ú ÏÑ§ÏπòÎêòÏóàÎäîÏßÄ ÌôïÏù∏
import sklearn
sklearn.__version__

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

### 5) ÌÖåÏä§Ìä∏ÏÖãÏóê ÎåÄÌïú MAE Í∞íÏùÑ Í≥ÑÏÇ∞ÌïòÍ≥† Î™®Îç∏Ïù¥ Ïûò ÎßåÎì§Ïñ¥Ï°åÎäîÏßÄ ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ÏÖãÏóê ÎåÄÌïú MAE Í∞íÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### 6) best ridge regression modelÏùÑ ÎßåÎìúÏÑ∏Ïöî.
    - ÌäπÏÑ±Ïùò Í∞ØÏàòÏóê Ï†úÌïúÏù¥ ÏóÜÏäµÎãàÎã§.
    - Îã§Ìï≠ÌöåÍ∑ÄÎ•º ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî
    - Ïó¨Îü¨ ÎûåÎã§Í∞íÏùÑ ÏãúÎèÑÌïòÏÑ∏Ïöî
    - ÎûåÎã§ 0Ïù∏ Í≤ΩÏö∞Î•º ÎπÑÍµêÌïòÏÑ∏Ïöî
    - RidgeCVÎ•º ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî
    - ÎßåÎì† Î™®Îç∏Ïùò ÌäπÏßïÏùÑ Í∞ÑÎûµÌûà ÏÑ§Î™ÖÌïòÍ≥† ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ ÏÑ±Îä• Í≤∞Í≥ºÎ•º Î©îÏã†Ï†ÄÏóêÏÑú Í≥µÏú†ÌïòÏÑ∏Ïöî

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###