<a href="https://colab.research.google.com/github/ms2288/ds-section2-sprint1/blob/main/n214-logistic-regression/n214a-logistic-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [4]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [5]:
#idÏπºÎüº drop
df = df.drop(['id'],axis=1)
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[70000 rows x 12 columns]

In [6]:
#Í≤∞Ï∏°ÏπòÌôïÏù∏
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  int64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 6.4 MB

* Í≤∞Ï∏°ÏπòÍ∞Ä ÏóÜÏäµÎãàÎã§

In [8]:
df = df.drop_duplicates()
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[69976 rows x 12 columns]

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [12]:
target='cardio'
X = df.drop([target],axis=1)
y = df[target]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,train_size=0.8,random_state=2)

In [16]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(X_train, test_size=0.2,train_size=0.8,random_state=2)

In [17]:
train

         age  gender  height  weight  ...  gluc  smoke  alco  active
221    17591       1     157    70.0  ...     1      0     0       0
59211  19677       2     174    80.0  ...     1      0     0       1
26654  23504       1     158    76.0  ...     3      0     0       1
33421  18036       2     173   128.0  ...     1      0     1       0
12046  20225       2     176   109.0  ...     1      1     1       1
...      ...     ...     ...     ...  ...   ...    ...   ...     ...
5863   20944       1     163    64.0  ...     1      0     0       1
22253  22673       1     141    70.0  ...     1      0     0       1
33006  22418       1     150    46.0  ...     2      0     0       1
31408  23272       2     167    77.0  ...     1      0     0       1
49770  18218       2     162    70.0  ...     3      0     0       0

[44784 rows x 11 columns]

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥†(max_iter=1000) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§.
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

###

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† Í∞ÄÎä•Ìïú Î∞©Î≤ïÏúºÎ°ú Î™®Îç∏ÏùÑ ÌäúÎãùÌï¥ÏÑú Í≤∞Í≥ºÎ•º ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî. ÏµúÏÜåÌïú Îã§Ïùå ÎÇ¥Ïö©Îì§Ïù¥ Ìè¨Ìï®Ïù¥ ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏµúÏÜåÌïú Ìïú Í∞ú Ïù¥ÏÉÅ ÎßåÎìúÏÑ∏Ïöî.
- ÌäπÏÑ±Îì§ÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÏïÑÏõÉÎùºÏù¥Ïñ¥ÎùºÍ≥† ÏÉùÍ∞ÅÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. (Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÎ•º Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©Ìï¥Ïïº ÌïòÎäîÏßÄ ÏïåÏïÑÎ≥¥Í≥† ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.)
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä•ÏùÑ Î¶¨Ìè¨ÌåÖÌïòÍ≥† Ìï¥ÏÑùÌï©ÎãàÎã§.