<a href="https://colab.research.google.com/github/ms2288/ds-section2-sprint1/blob/main/n214-logistic-regression/n214a-logistic-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [2]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [3]:
#idÏπºÎüº drop
df = df.drop(['id'],axis=1)
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[70000 rows x 12 columns]

In [4]:
#Í≤∞Ï∏°ÏπòÌôïÏù∏
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

* Í≤∞Ï∏°ÏπòÍ∞Ä ÏóÜÏäµÎãàÎã§

In [5]:
df = df.drop_duplicates()
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[69976 rows x 12 columns]

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
# target='cardio'
# df_target = df[target]
# df_ = df.drop([target],axis=1)

In [6]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df,test_size=0.2, random_state=2)

In [7]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(train, test_size=0.2, random_state=2)

In [8]:
print(train.shape, val.shape)   # Í≤ÄÏ¶ùÏö© Îç∞Ïù¥ÌÑ∞ : 11,196Í∞úX_train

(44784, 12) (11196, 12)

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥†(max_iter=1000) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [11]:
target = 'cardio'

y_train = train[target]
X_train = train.drop(columns=target)
y_val = val[target]
X_val = val.drop(columns=target)

# Îç∞Ïù¥ÌÑ∞Ïùò volume ÌôïÏù∏
print("ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: {0}, target{1}".format(X_train.shape, y_train.shape))
print("Í≤ÄÏ¶ùÏö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: {0}, target{1}".format(X_val.shape, y_val.shape))

ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: (44784, 11), target(44784,)
Í≤ÄÏ¶ùÏö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: (11196, 11), target(11196,)

In [12]:
# ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞Ïùò targetÏùÑ Î∂ÑÎ¶¨Ìïú ÌõÑ ÌÉêÏÉâÌïòÍ∏∞
print('y_trainÏùò target Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏')
print(y_train.value_counts(normalize=True))

# mode()Î•º ÌôúÏö©Ìï¥ÏÑú ÏµúÎπàÍ∞í Íµ¨ÌïòÍ∏∞
major = y_train.mode()[0]

# ÌÉÄÍ≤ü ÏÉòÌîå Ïàò ÎßåÌÅº ÏµúÎπàÍ∞íÏùÑ Î∞òÎ≥µÌïòÏó¨ Î¶¨Ïä§Ìä∏Ïóê Ï†ÄÏû•. Í∏∞Ï§ÄÎ™®Îç∏Î°ú ÏÇ¨Ïö©
y_pred = [major] * len(y_train)

# Í∏∞Ï§ÄÎ™®Îç∏Í≥º ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞Ïùò ÌÉÄÍπÉ Îç∞Ïù¥ÌÑ∞Î•º ÎπÑÍµêÌïú ÌõÑ Ï†ïÌôïÎèÑ ÎπÑÍµê
from sklearn.metrics import accuracy_score
print("\nÍ∏∞Ï§ÄÎ™®Îç∏Í≥º ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞ ÌïôÏäµ Ï†ïÌôïÎèÑ :", accuracy_score(y_train, y_pred))

y_trainÏùò target Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
1    0.501697
0    0.498303
Name: cardio, dtype: float64

Í∏∞Ï§ÄÎ™®Îç∏Í≥º ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞ ÌïôÏäµ Ï†ïÌôïÎèÑ : 0.501697034655234

In [13]:
# Î°úÏßÄÏä§Ìã± ÌöåÍ∑ÄÎ™®Îç∏ ÏÉùÏÑ± Î∞è ÌõàÎ†®
from sklearn.linear_model import LogisticRegression

# Í∞ùÏ≤¥ ÏÉùÏÑ± : max_iterÎäî 1000ÏúºÎ°ú ÏÑ§Ï†ï
logistic = LogisticRegression(max_iter=1000)

# Î™®Îç∏ ÌõàÎ†®
logistic.fit(X_train, y_train)

# Í≤ÄÏ¶ùÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ Ï∏°Ï†ï - X_val, y_valÏÇ¨Ïö©, score ÏÜçÏÑ± ÏÇ¨Ïö©
print('Í≤ÄÏ¶ùÏÑ∏Ìä∏ ÏòàÏ∏° Ï†ïÌôïÎèÑ', logistic.score(X_val, y_val))

Í≤ÄÏ¶ùÏÑ∏Ìä∏ ÏòàÏ∏° Ï†ïÌôïÎèÑ 0.7073061807788495

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§.
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [14]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 80 kB 4.5 MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [15]:
# ÏõêÌï´Ïù∏ÏΩîÎî©
from category_encoders import OneHotEncoder

# Ïù∏ÏΩîÎî© Í∞ùÏ≤¥ ÏÉùÏÑ±, gender Ïª¨ÎüºÎßå Ïù∏ÏΩîÎî©
encoder = OneHotEncoder(use_cat_names=True, cols="gender")

# ÌõàÎ†®Ïö© Îç∞Ïù¥ÌÑ∞ fit_transform
X_train_encoded = encoder.fit_transform(X_train)

# Í≤ÄÏ¶ùÏö© Îç∞Ïù¥ÌÑ∞ : transform
X_val_encoded = encoder.transform(X_val)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [16]:
# Î°úÏßÄÏä§Ìã± ÌöåÍ∑ÄÎ™®Îç∏ ÏÉùÏÑ± Î∞è ÌõàÎ†®
# Í∞ùÏ≤¥ ÏÉùÏÑ±
logistic = LogisticRegression(max_iter=1000)

# Î™®Îç∏ ÌõàÎ†® : Ïù∏ÏΩîÎî© ÏôÑÎ£åÌïú Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïö© (X_train_encoded)
logistic.fit(X_train_encoded, y_train)

# Í≤ÄÏ¶ùÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ Ï∏°Ï†ï : X_val_encoded, y_valÏÇ¨Ïö©, score ÏÜçÏÑ± ÏÇ¨Ïö©
print('Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ', logistic.score(X_val_encoded, y_val))

Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ 0.6944444444444444

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [17]:
# ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ featuresÏôÄ target Î∂ÑÎ¶¨
y_test = test[target]
X_test = test.drop(target, axis=1)

# ÌôïÏù∏
print("ÌÖåÏä§Ìä∏Ïö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: {0}, target{1}".format(X_test.shape, y_test.shape))

ÌÖåÏä§Ìä∏Ïö© Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ / features: (13996, 11), target(13996,)

In [18]:
# "ÏµúÏ†ÅÌôî"ÎùºÍ≥† ÌïúÎã§Î©¥ Ï†ïÌôïÌûà Ïñ¥Îñ§ ÏûëÏóÖÏùÑ ÎßêÌïòÎäî Í≤ÉÏùºÍπå? Îã§ÏñëÌïòÍ≤å ÏÉùÍ∞ÅÌï¥Î≥¥Ïûê.
# 1) ÏàòÏóÖ ÎÇ¥Ïö©Ïóî ÏóÜÏóàÏßÄÎßå ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞(C) Ï°∞Ï†ï
# Í∞ùÏ≤¥ ÏÉùÏÑ± & Î™®Îç∏ ÌõàÎ†®
logistic_001 = LogisticRegression(C=0.01, max_iter=1000).fit(X_train_encoded, y_train)
logistic_01 = LogisticRegression(C=0.1, max_iter=1000).fit(X_train_encoded, y_train)
logistic = LogisticRegression(max_iter=1000).fit(X_train_encoded, y_train)
logistic_1 = LogisticRegression(C=1, max_iter=1000).fit(X_train_encoded, y_train)
logistic_10 = LogisticRegression(C=10, max_iter=1000).fit(X_train_encoded, y_train)


# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú Ï†ïÌôïÎèÑ Ï∏°Ï†ï
print('C=0.01 Ï†ïÌôïÎèÑ', logistic_001.score(X_val_encoded, y_val))
print('C=0.1 Ï†ïÌôïÎèÑ', logistic_01.score(X_val_encoded, y_val))
print('C=default Ï†ïÌôïÎèÑ', logistic.score(X_val_encoded, y_val))
print('C=1 Ï†ïÌôïÎèÑ', logistic_1.score(X_val_encoded, y_val))
print('C=10 Ï†ïÌôïÎèÑ', logistic_10.score(X_val_encoded, y_val))

C=0.01 Ï†ïÌôïÎèÑ 0.6942658092175777
C=0.1 Ï†ïÌôïÎèÑ 0.7094498035012504
C=default Ï†ïÌôïÎèÑ 0.6944444444444444
C=1 Ï†ïÌôïÎèÑ 0.6944444444444444
C=10 Ï†ïÌôïÎèÑ 0.7093604858878171

In [19]:
# 2) ÌëúÏ§ÄÌôî
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_val_scaled = scaler.transform(X_val_encoded)

# Í∞ùÏ≤¥ ÏÉùÏÑ± & Î™®Îç∏ ÌõàÎ†®
logistic_001_scaled = LogisticRegression(C=0.01, max_iter=1000).fit(X_train_scaled, y_train)
logistic_01_scaled = LogisticRegression(C=0.1, max_iter=1000).fit(X_train_scaled, y_train)
logistic_scaled = LogisticRegression(max_iter=1000).fit(X_train_scaled, y_train)
logistic_1_scaled = LogisticRegression(C=1, max_iter=1000).fit(X_train_scaled, y_train)
logistic_10_scaled = LogisticRegression(C=10, max_iter=1000).fit(X_train_scaled, y_train)

# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú Ï†ïÌôïÎèÑ Ï∏°Ï†ï
print('C=0.01 Ï†ïÌôïÎèÑ', logistic_001_scaled.score(X_val_scaled, y_val))
print('C=0.1 Ï†ïÌôïÎèÑ', logistic_01_scaled.score(X_val_scaled, y_val))
print('C=default Ï†ïÌôïÎèÑ', logistic_scaled.score(X_val_scaled, y_val))
print('C=1 Ï†ïÌôïÎèÑ', logistic_1_scaled.score(X_val_scaled, y_val))
print('C=10 Ï†ïÌôïÎèÑ', logistic_10_scaled.score(X_val_scaled, y_val))

C=0.01 Ï†ïÌôïÎèÑ 0.7057877813504824
C=0.1 Ï†ïÌôïÎèÑ 0.721686316541622
C=default Ï†ïÌôïÎèÑ 0.723383351196856
C=1 Ï†ïÌôïÎèÑ 0.723383351196856
C=10 Ï†ïÌôïÎèÑ 0.7237406216505895

In [20]:
# Îç∞Ïù¥ÌÑ∞ ÌëúÏ§ÄÌôî ÏûëÏóÖÏù¥ Î™®Îç∏ ÏµúÏ†ÅÌôîÏóê ÎçîÏö± Ìö®Í≥ºÏ†ÅÏù∏ Í≤É Í∞ôÎã§.
# ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ÎèÑ ÎòëÍ∞ôÏù¥ ÌëúÏ§ÄÌôî ÌõÑ Î™®Îç∏ ÌïôÏäµÏùÑ ÏßÑÌñâÌï¥ Î≥∏Îã§.

# testÎç∞Ïù¥ÌÑ∞Ïùò gender ÏõêÌï´Ïù∏ÏΩîÎî©
X_test_encoded = encoder.transform(X_test)

# testÎç∞Ïù¥ÌÑ∞ ÌëúÏ§ÄÌôî
X_test_scaled = scaler.transform(X_test_encoded)

# testÎç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† ÏòàÏ∏° (1Ìöå) -> Ï†ïÌôïÎèÑ UP
print('ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ', logistic_scaled.score(X_test_scaled, y_test))

ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ 0.7264218348099457

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† Í∞ÄÎä•Ìïú Î∞©Î≤ïÏúºÎ°ú Î™®Îç∏ÏùÑ ÌäúÎãùÌï¥ÏÑú Í≤∞Í≥ºÎ•º ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî. ÏµúÏÜåÌïú Îã§Ïùå ÎÇ¥Ïö©Îì§Ïù¥ Ìè¨Ìï®Ïù¥ ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏµúÏÜåÌïú Ìïú Í∞ú Ïù¥ÏÉÅ ÎßåÎìúÏÑ∏Ïöî.
- ÌäπÏÑ±Îì§ÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÏïÑÏõÉÎùºÏù¥Ïñ¥ÎùºÍ≥† ÏÉùÍ∞ÅÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. (Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÎ•º Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©Ìï¥Ïïº ÌïòÎäîÏßÄ ÏïåÏïÑÎ≥¥Í≥† ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.)
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä•ÏùÑ Î¶¨Ìè¨ÌåÖÌïòÍ≥† Ìï¥ÏÑùÌï©ÎãàÎã§.