<a href="https://colab.research.google.com/github/ms2288/ds-section2-sprint1/blob/main/n214-logistic-regression/n214a-logistic-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# ğŸ“ Assignment
---

# Logistic Regression

ì´ë²ˆì—ëŠ” [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•´ ë´…ì‹œë‹¤. ë°ì´í„°ì— ëŒ€í•œ ì„¤ëª…ì„ ìºê¸€ í˜ì´ì§€ì—ì„œ ì˜ ì‚´í´ë³´ì‹œê³  ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš”!

### 1) ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬ í•˜ê² ìŠµë‹ˆë‹¤.
- ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.(read_csv ì‚¬ìš©)
- id ì¹¼ëŸ¼ì€ dropí•˜ì„¸ìš”.
- missing valueë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ì¤‘ë³µëœ ìƒ˜í”Œì´ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
- **ì¤‘ë³µëœ ìƒ˜í”Œì„ ì œê±°í•˜ê³  ë‚¨ì€ ìƒ˜í”Œì˜ ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [4]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [5]:
#idì¹¼ëŸ¼ drop
df = df.drop(['id'],axis=1)
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[70000 rows x 12 columns]

In [6]:
#ê²°ì¸¡ì¹˜í™•ì¸
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  int64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 6.4 MB

* ê²°ì¸¡ì¹˜ê°€ ì—†ìŠµë‹ˆë‹¤

In [8]:
df = df.drop_duplicates()
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[69976 rows x 12 columns]

### 2) ë‹¤ìš´ë¡œë“œ í•œ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”.
- íƒ€ê²Ÿ íŠ¹ì„±ì„ í™•ì¸í•˜ê³  íƒ€ê²Ÿ ë³€ìˆ˜ë¥¼ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤.
- í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/test = 80/20, random_state=2)
- í›ˆë ¨ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/validation = 80/20, random_state=2)
- **ê²€ì¦ ë°ì´í„°(X_val)ì˜ ê°¯ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [12]:
target='cardio'
X = df.drop([target],axis=1)
y = df[target]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,train_size=0.8,random_state=2)

In [16]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(X_train, test_size=0.2,train_size=0.8,random_state=2)

In [17]:
train

         age  gender  height  weight  ...  gluc  smoke  alco  active
221    17591       1     157    70.0  ...     1      0     0       0
59211  19677       2     174    80.0  ...     1      0     0       1
26654  23504       1     158    76.0  ...     3      0     0       1
33421  18036       2     173   128.0  ...     1      0     1       0
12046  20225       2     176   109.0  ...     1      1     1       1
...      ...     ...     ...     ...  ...   ...    ...   ...     ...
5863   20944       1     163    64.0  ...     1      0     0       1
22253  22673       1     141    70.0  ...     1      0     0       1
33006  22418       1     150    46.0  ...     2      0     0       1
31408  23272       2     167    77.0  ...     1      0     0       1
49770  18218       2     162    70.0  ...     3      0     0       0

[44784 rows x 11 columns]

### 3) ì‚¬ì´í‚·ëŸ°ì˜ LogisticRegressionì„ ì‚¬ìš©í•´ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- ëª¨ë¸ì„ ë§Œë“¤ê¸° ì „ì— ê¸°ì¤€ëª¨ë¸ì„ ì„¤ì •í•©ë‹ˆë‹¤.
- **LogisticRegression ëª¨ë¸ì„ í•™ìŠµí•˜ê³ (max_iter=1000) ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

### 4) ë°ì´í„°ì—ì„œ ë²”ì£¼í˜• ì„±ì§ˆì„ ì§€ë‹Œ íŠ¹ì„±ì„ ì°¾ì•„ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- category_encodersë¥¼ ì‚¬ìš©í•´ì„œ 'gender' íŠ¹ì„±ë§Œ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- LogisticRegression ëª¨ë¸ì„ ë‹¤ì‹œ í•™ìŠµí•©ë‹ˆë‹¤.
- **ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

###

### 5) í•™ìŠµí•œ ëª¨ë¸ì„ ê²€ì¦ì„¸íŠ¸ì—ì„œ ìµœì í™” ì‹œí‚¨ í›„, í…ŒìŠ¤íŠ¸ì„¸íŠ¸ì—ì„œ ë”± í•œ ë²ˆ ì •í™•ë„ë¥¼ í™•ì¸í•´ ë³´ì„¸ìš”.
- **í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.(0.712 ì´ìƒ)**

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###

## ğŸ”¥ ë„ì „ê³¼ì œ:

### 6) EDAë¥¼ ì¶”ê°€ì ìœ¼ë¡œ ìˆ˜í–‰í•˜ê³  ê°€ëŠ¥í•œ ë°©ë²•ìœ¼ë¡œ ëª¨ë¸ì„ íŠœë‹í•´ì„œ ê²°ê³¼ë¥¼ ë§Œë“¤ì–´ ë³´ì„¸ìš”. ìµœì†Œí•œ ë‹¤ìŒ ë‚´ìš©ë“¤ì´ í¬í•¨ì´ ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.
- ìƒˆë¡œìš´ íŠ¹ì„±ì„ ìµœì†Œí•œ í•œ ê°œ ì´ìƒ ë§Œë“œì„¸ìš”.
- íŠ¹ì„±ë“¤ì„ í™•ì¸í•´ì„œ ì•„ì›ƒë¼ì´ì–´ë¼ê³  ìƒê°ë˜ëŠ” ë°ì´í„°ë¥¼ ê°€ì§„ ìƒ˜í”Œì„ ì œê±°í•˜ì„¸ìš”.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ì„ ì‚¬ìš©í•˜ì„¸ìš”. (ì—¬ëŸ¬ê°€ì§€ ì¢…ë¥˜ì˜ Scalarë¥¼ ì–´ë–¤ ìƒí™©ì— ì ìš©í•´ì•¼ í•˜ëŠ”ì§€ ì•Œì•„ë³´ê³  ì‚¬ìš©í•´ ë³´ì„¸ìš”.)
- ë§Œë“¤ì–´ì§„ ëª¨ë¸ ì„±ëŠ¥ì„ ë¦¬í¬íŒ…í•˜ê³  í•´ì„í•©ë‹ˆë‹¤.